*{
    font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
    color:white;
}

body{
    background-color:rgb(83, 83, 83);
    margin:0;
}
h1{
    text-align: center;
    font-size:3em;
}
a{
    color: blue;
    text-align:center;
    margin:auto;
    display:block;
    font-size: 1.5em;
}

input{
    width:100%;
    max-width:300px;
    font-size:1em;
    box-sizing: content-box;
    padding: 5px 10px;
    margin:auto;

    display:block;
    color:black;
}


.shortenForm, #container{
    width:100vw;
    max-width:500px;
    margin:auto;
    height:50vh;
    background-color: gray;
    padding:30px;
    border-radius:20px;
}

.redirect{
    width:100vw;
    background-color:gray;
    display:flex;
    justify-content: space-between;
    padding:15px 0px;
    align-items: center;
    flex-direction: column;
    height:20vh;
}
.redirect>div>span{
    font-size:2em;
}
.redirect>div{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.advertise{
    width:100vw;
    border:none;
    height:70vh;
}